body{
  text-align: center;
  margin: 0;
  padding: 20px;

  background-image: url("./images/img_back.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;       /*画面を拡張に合わせて画像を調整*/
  
}

img{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.0rem;
}

.introduce{
  text-align: center;
  margin: 50px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#home{
  color: red;
}

footer{
  font-size: 12px;
}

footer p{
  display: inline;
}
